* {
  margin: 0.3rem 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu Mono", monospace;
  letter-spacing: 1.5px;
  color: rgb(214, 209, 209);
  background: rgb(10, 10, 10);
}

.dir {
  font-size: 1.1rem;
  font-weight: bolder;
  color: rgb(13, 230, 42);
}

.dir .symbol {
  font-size: 1.5rem;
  color: rgb(81, 81, 224);
}

.title {
  margin: 0.5rem 0;
}

.title .name {
  font-size: 1.5rem;
  font-weight: bolder;
}

.cat {
  color: rgb(13, 230, 42);
}

a {
  color: rgb(214, 209, 209);
}
